@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;500;700&display=swap');

/* General */

* {
  margin: 0px 0px;
}

* {
  font-family: 'Signika', sans-serif;
}

body,
html {
  height: 100%;
}

/* INDEX.HTML */

/* Contact header and header */

#header {
  position: fixed;
  display: flex;
  top: 0;
}

.contact-header {
  color: #fff;
  background-color: #0b3e5d;
  position: fixed;
  height: 40px;
  width: 100%;
}

.contact-header .fa-brands {
  color: #fff;
  text-decoration: none;
}

.contact-header p {
  margin: 8px 8px;
  text-align: right;
}

.contact-header i {
  margin-left: 10px;
  display: inline;
}

/* NAVBAR - Common styles for both mobile, tablet and desktop */
#navbar {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 40px;
  z-index: 100000;
}

#navbar a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  margin-right: 30px;
  padding: 4px;
  text-align: center;
}

#navbar img {
  max-height: 50%;
}

.navbar-contact {
  color: #0b3e5d;
  border: 2px solid #f26d22;
  border-radius: 5px;
}

/* Mobile styles */
@media screen and (min-width: 320px) and (max-width: 575px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .navbar-links-desktop {
    display: none;
  }

  .nav-logo {
    display: flex;
    align-items: center;
  }

  .navbar-mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
  }

  #navbar img {
    max-height: 100%;
  }

  .nav-toggle {
    order: 1;
    margin: 0 20px;
    cursor: pointer;
  }
}

/* Tablet styles */
@media screen and (min-width: 576px) and (max-width: 768px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .navbar-links-desktop {
    display: none;
  }

  .nav-logo {
    display: flex;
    align-items: center;
  }

  .navbar-mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
  }

  #navbar img {
    max-height: 100%;
  }

  .nav-toggle {
    order: 1;
    margin: 0 20px;
    cursor: pointer;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .navbar-links-desktop {
    display: none;
  }

  .nav-logo {
    display: flex;
    align-items: center;
  }

  .navbar-mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
  }

  #navbar img {
    max-height: 100%;
  }

  .nav-toggle {
    order: 1;
    margin: 0 20px;
    cursor: pointer;
  }
}

/* Desktop styles */
@media screen and (min-width: 1025px) {
  #navbar {
    justify-content: center;
    height: 80px;
    font-size: 0.8rem;
  }

  #navbar .navbar-links-desktop {
    display: flex;
    justify-content: center;
  }

  #navbar .navbar-links-mobile {
    display: none;
  }

  #navbar .nav-toggle {
    display: none;
  }
}

.content-section {
  margin-top: 9vh;
  background-color: #f6dccd;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #form-container {
    max-width: 800px;
    padding-top: 50px;
    margin: 50px 100px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #form-container {
    max-width: 800px;
    padding-top: 50px;
    margin: 50px 300px;
  }
}

@media screen and (min-width: 1201px) {
  #form-container {
    max-width: 800px;
    padding-top: 50px;
    margin: 50px 300px;
  }
}

/* HERO SECTION */

#hero-section {
  display: flex;
  align-items: center;
}

.hero-section-illustration {
  flex: 1;
}

.hero-section-text {
  flex: 1;
}

.hero-section-illustration img {
  max-width: 100%;
}

.hero-section-text h2 {
  color: #f26d22;
}

button {
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0;
  border: 2px solid #f26d22;
  padding: 15px;
  font-size: 1.5rem;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #f26d22;
  transition: color 1s, background-color 1s, border 1s, box-shadow 1s;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  border: 2px solid #f26d22;
  color: #000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
  align-items: center;
}

button > a {
  text-decoration: none;
  color: #fff;
}

button > a:hover {
  text-decoration: none;
  color: #000;
}

/* Mobile styles */
@media screen and (min-width: 320px) and (max-width: 575px) {
  #hero-section {
    flex-direction: column;
    margin: 180px 70px 0px;
  }

  .hero-section-illustration img {
    max-width: 100%;
  }

  .hero-section-text {
    text-align: center;
  }

  button {
    width: 100%;
  }
}

/* Tablet styles */
@media screen and (min-width: 576px) and (max-width: 768px) {
  #hero-section {
    flex-direction: column;
    margin: 200px 70px 70px;
  }

  .hero-section-illustration img {
    max-width: 100%;
  }

  .hero-section-text {
    text-align: center;
  }

  button {
    width: auto;
  }
}

/* Desktop styles */
@media screen and (min-width: 769px) {
  #hero-section {
    margin-top: 200px;
    margin-bottom: 90px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

/* EVENT INFORMATION */

#event-information {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 100px 0px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(11, 62, 93, 1) 0%,
    rgba(11, 62, 93, 1) 50%,
    rgba(11, 62, 93, 0) 100%
  );
}

.event-photo {
  flex: 1;
  text-align: center;
}

.event-information-text {
  color: #f26d22;
  flex: 1;
  margin: 5px 104px 5px;
}

.event-photo img {
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  max-width: 55%;
}

.event-information-text p {
  color: #fff;
}

/* Mobile styles */
@media screen and (min-width: 320px) and (max-width: 575px) {
  #event-information {
    flex-direction: column;
  }
  .event-photo img {
    max-width: 90%;
  }
  .event-information-text {
    margin: 10px 15px;
  }
}

/* Tablet styles */
@media screen and (min-width: 576px) and (max-width: 768px) {
  #event-information {
    flex-direction: column;
  }
  .event-photo img {
    max-width: 90%;
  }
}

/* Desktop styles */
@media screen and (min-width: 769px) {
  .event-photo img {
    max-width: 80%;
  }
}

/* KEY THEMES */

#key-themes h1 {
  text-align: center;
  margin-top: 80px;
}

#key-themes p {
  text-align: center;
  margin: 30px 50px;
}

.key-themes-grid {
  margin: 5px 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.key-themes-grid div {
  color: #fff;
  background-color: #0b3e5d;
  border: 2px solid #0b3e5d;
  padding: 30px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  transition: color 1s, background-color 1s, border 1s,
    border-top-right-radius 1s, border-bottom-left-radius 1s, box-shadow 1s;
}

.key-themes-grid div:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #0b3e5d;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
  padding: 30px;
  text-align: center;
  align-items: center;
}

/* Mobile styles */
@media screen and (min-width: 320px) and (max-width: 575px) {
  .key-themes-grid {
    margin: 5px 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
}

/* Desktop styles */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .key-themes-grid {
    margin: 5px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
}

@media screen and (min-width: 769px) {
  .key-themes-grid {
    margin: 5px 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
}

/* FEATURED SPEAKERS */

#featured-speakers-container {
  width: 100%;
  background-color: #f6dccd;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
  height: auto;
  margin: 150px 0px;
  padding-bottom: 100px;
}

#featured-speakers-container h1 {
  padding-left: 120px;
  padding-top: 30px;
}

#featured-speakers-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.speaker-1,
.speaker-2,
.speaker-3,
.speaker-4,
.speaker-5,
.speaker-6,
.speaker-7,
.speaker-8 {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 300px;
  border-radius: 20px;
  text-align: left;
}

.speaker-1:hover,
.speaker-2:hover,
.speaker-3:hover,
.speaker-4:hover,
.speaker-5:hover,
.speaker-6:hover,
.speaker-7:hover,
.speaker-8:hover {
  background-color: #fff;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
  width: 300px;
  border-radius: 20px;
  text-align: left;
}

.speaker-image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.speaker-text {
  margin: 0px 10px 10px 10px;
}

.speaker-description {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 8px;
}

.speakers-container-grid {
  display: flex;
  flex-wrap: wrap;
}

.speakers-container-grid h4 {
  margin: 10px 10px 0px 10px;
  font-size: 1.3rem;
}

/* Mobile styles */
@media screen and (min-width: 320px) and (max-width: 575px) {
  .speakers-container-grid {
    flex-direction: column;
    flex: 1;
    margin-top: 45px;
    gap: 30px;
    align-items: center;
  }
}

/* Tablet styles */
@media screen and (min-width: 576px) and (max-width: 1199px) {
  .speakers-container-grid {
    margin-top: 45px;
    gap: 30px;
    justify-content: center;
    padding: 0 50px;
  }
}

/* Desktop styles */
@media screen and (min-width: 1200px) {
  .speakers-container-grid {
    margin-top: 45px;
    gap: 30px;
    justify-content: center;
    padding: 0 50px;
  }
}

/* SCROLL TO TOP */

#scroll-to-top {
  background-color: #0b3e5d;
  color: #fff;
  height: 25px;
  margin-bottom: 0;
  width: 100%;
}

#scroll-to-top p {
  text-align: center;
  cursor: pointer;
}

/* FOOTER */

#footer {
  background-color: #021927;
  color: #fff;
  width: 100%;
  height: auto;
  display: flex;
}

#footer p,
#footer h4 {
  cursor: pointer;
}

.footer-icons a {
  color: #fff;
  display: inline;
  margin: 0px 10px;
  text-decoration: none;
}

.footer-logo {
  flex: 0;
}

.footer-icons {
  flex: 0;
}

.footer-initiatives {
  flex: 1;
}

.footer-resources {
  flex: 1;
}

.footer-get-involved {
  flex: 1;
}

#footer div {
  margin: 30px 10px 20px;
}

/* Mobile styles */
@media screen and (min-width: 320px) and (max-width: 575px) {
  #footer {
    padding: 0px 0px;
    flex-direction: column;
    justify-content: center;
  }

  .footer-icons a {
    font-size: 1.5rem;
  }
}

/* Tablet styles */
@media screen and (min-width: 576px) and (max-width: 768px) {
  #footer {
    width: 100%;
    padding: 0px 0px;
    flex-direction: column;
    justify-content: center;
  }
}

/* Desktop styles */
@media screen and (min-width: 769px) {
  #footer {
    padding: 0px 0px;
  }

  #footer h4 {
    font-size: 1.3rem;
  }
}

/* FORM.HTML */

#form-container {
  height: auto;
}

#error-name {
  visibility: hidden;
  color: red;
}

#error-email {
  visibility: hidden;
  color: red;
}

#error-number {
  visibility: hidden;
  color: red;
}

#error-address {
  visibility: hidden;
  color: red;
}

/* BLOG.HTML */

#blog-post-container {
  background-color: rgb(245, 219, 204);
  padding: 10vw 10vw 10vw;
}

#blog-banner {
  background: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.151),
      rgb(245, 219, 204)
    ),
    url('../img/blog-banner-2.jpg') center/cover no-repeat;
  max-width: 100%;
  overflow: hidden;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blog-banner h1 {
  font-size: 3em;
}

.blog-post-image {
  max-width: 80%;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.time-and-date {
  text-align: left;
  padding-top: 5vw;
}
